@{
    Layout = null;
}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code View - Sigged.Repl.NetCore.Web</title>
    <partial name="_CodeEditorPartial" />
</head>
<body>
    <textarea id="source-input">
/* C# demo code */
using System;

namespace Test {

    public class Program {
    
        public static void Main(string[] args) 
        {
            Console.Write("What is your name ? ");
            //char input = (char)Console.Read();
            //string input = Console.ReadLine();
            //Console.WriteLine($"Hello { input }");
            int i = 0, j = 1;
            i = j / i;
        }

    }

}
</textarea>
</body>
</html>

