@{
    Layout = null;
}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code View - Sigged.CsC.NetCore.Web</title>
    <partial name="_CodeEditorPartial" />
</head>
<body>
    <textarea id="source-input">
using System;

namespace Test {

    public class Program {
    
        public static void Main(string[] args) 
        {
            //write awesomeness here
            Console.Write("Hello World!");
        }

    }

}
</textarea>
</body>
</html>

